version: "3.8"

services:
  jira-api:
    build: .
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./:/app
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    networks:
      docker_static:
        ipv4_address: 10.15.0.50

    labels:
          - "traefik.enable=true"
          - "traefik.http.routers.jira-api.rule=Host(`jira.dev.jjrsoftware.co.uk`)"
          - "traefik.http.services.jira-api.loadbalancer.server.port=80"

networks:
  docker_static:
    external: true
